hr
div
  div
    label( for="name") Nome:
    input(type="text" id="name")
  
  div
    input(type="checkbox" id="switchEmail")
    label(for="switchEmail") Enviar para E-Mail?
  
  div
    div
      label(for="email") E-Mail:
      input(type="email" id="email" placeholder="Insira o seu Email")
